@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
header {
    background-color: #0C3922;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

header > .entete > ul > li > a > img {
    background-color: rgba(0,0,0,0);
    width: 70px;
    height: auto;
    padding: 10px 0;
}

.entete > ul {
    display: flex;
    list-style-type: none;
}

header > ul > li {
    margin: 0 auto;
}

#ic-4 {
    position: absolute;
}

#ic-4 {
    left: 54%;
    top: 82%;
    width: 9vw;
    height: auto;
}

.page-1>.fond {
    width: 101vw;
    height: 100vh;
    position: relative;
    transform: translateX(-1vw);
}

.logo {
    position: absolute;
    background-color: rgba(0,0,0,0);
    left: 43%;
    top: 18%;
    width: 15vw;
    height: auto;
}

.logo-container {
    margin: auto;
}

.titre {
    color: white;
    font-size: 5em;
    position: absolute;
    left: 41%;
    top: 50%;
    font-family: raleway, sans-serif;
    font-weight: bold;
    text-align: center;
}

.reseaux {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.reseaux > a {
    margin-left: 20px;
}

h2 {
    font-family: Poppins, sans-serif;
    font-weight: Bold;
    font-size: 5em;
    color: #165425;
    text-align: center;
    margin-bottom: 74px;
}

.notre-equipe {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content);
    grid-template-areas: "yanis clementt clementv";
}

.yanis, .clementt, .clementv {
    margin: 0 40px;
}

.yanis {
    grid-area: yanis;
}

.clementt {
    grid-area: clementt;
}

.clementv {
    grid-area: clementv;
}

.pdp {
    display: block;
    margin: auto;
}

.nom {
    font-family: Comfortaa, sans-serif;
    font-weight: bold;
    font-size: 44px;
    color: #2D4A29;
    text-align: center;
    margin: 26px 0;
}

.role {
    font-family: Comfortaa, sans-serif;
    font-weight: normal;
    font-size: 30px;
    color: #2D4A29;
    text-align: center;
}

.description {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: #2D4A29;
    text-align: center;
    margin: 50px 30px 0 30px;
}

.contact {
    font-family: Comfortaa, sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: white;
    background-color: #165425;
    text-align: center;
    margin: 60px 100px 50px 100px;
    border-radius : 20px;
}

.contact > a {
    color: white;
    text-decoration: none;
}

.page-3 {
    background-color: #F9F9F9;
    padding-bottom: 20px;
}

.le-projet {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
    grid-template-areas: "pitch synopsis";
}

.pitch {
    grid-area: pitch;
}

.synopsis {
    grid-area: synopsis;
}

.pitch, .synopsis {
    margin: 0 70px;
}

h3 {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #165425;
    margin-bottom: 47px;
}

.pitch > p, .synopsis > p {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    color: #165425;
    font-size: 22px;
    line-height: 2;
}

.fonctionnalites {
    display: flex;
}

.colonne-1, .colonne-2 {
    flex: auto;
    width: 700px;
}

.categories {
    width: 1400px;
    margin: 0 auto;
}

h4 {
    font-family: Comfortaa, sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: white;
    background-color: #436A4C;
    text-align: center;
    padding: 10px;
    margin: 30px;
}

form{
    margin: 0 auto;
    width: 1000px;
    padding-bottom: 213px;
}

form div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 200px;
    text-align: right;
    font: 30px raleway;
    padding-bottom: 20px;
}

input, textarea {
    font: 1em raleway;
    width: 1000px;
    box-sizing: border-box;
    border: 2px solid #165425;
    border-radius: 10px;
}

input:focus, textarea:focus {
    border-color: #165425;
}

input {
    height: 4em;
}

textarea {
    vertical-align: top;
    height: 15em;
}

button {
    margin-left: 12em;
    font-family: raleway, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: #586E59;
    border-radius: 15px;
    width: 250px;
}

.entete{
    display: flex;
    justify-content: center;
    align-items: center;
}

.entete > ul li{
    position: relative;
    list-style: none;
    margin: 0 150px;
    cursor: pointer;
}

.entete > ul li a{
    text-decoration: none;
}

.entete > ul li a img{
    font-size: 2em;
}

.entete > ul li::before{
    font-family: Raleway, sans-serif;
    position: absolute;
    top: 90px;
    text-align: center;
    width: 150px;
    left: -41px;
    font-size: 2em;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    background-color: #0C3922;
}

.entete > ul li:nth-child(1)::before{
    content: "Équipe";
    justify-content: center;
    color: white;
}

.entete > ul li:nth-child(2)::before{
    content: "Projet";
    color: white;
}

.entete > ul li:nth-child(3)::before{
    content: 'Contact';
    color: white;
}

.entete > ul li:hover::before{
    height: 40%;
}

.fleche{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.fleche span{
    display: block;
    width: 50px;
    height: 50px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.fleche span:nth-child(2){
    animation-delay: -0.2s;
    transform: rotate(45deg) translate(-20px,-20px);
}

.fleche span:nth-child(3){
    animation-delay: -0.4s;
}

@keyframes animate
{
    0%
    {
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);

    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);

    }
}

footer {
    background-color: #586E59;
}

.reseaux-footer > ul {
    display: flex;
    list-style-type: none;
}

.reseaux-footer > ul > li {
    margin: 20px auto;
}

.arobase {
    font-family: Raleway, sans-serif;
    font-size: 35px;
    color: white;
    text-align: center;
}

footer > a > img  {
    display: block;
    margin: 40px auto;
    width: 107px;
    height: auto;
    transform: translateX(-18%);
}

.mention {
    font-family: Raleway, sans-serif;
    font-size: 28px;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}